body{
    text-align: center;
    background-image:url(Lago-Moraine-Parque-Nacional-Banff-Alberta-Canada.jpg) ;
    background-size: cover;
    overflow-x: hidden;
}
#seraonosera{
    color: red;
}
#colores div{
    width: 40px;
    height: 40px;
    margin:auto 0;
}
#colores{
    position: fixed;
    bottom:28%;
    top:28%;
}

button{
    background-color: rgba(255, 250, 250, 0.733);
    border-radius: 5px;
    font-size: 20px;
    
}
#segundero,#marcador {
    font-weight: bold;
    color: floralwhite;
    background-color: darkmagenta;
    width: fit-content;
    margin: 20px auto;
    border-radius: 20px;
    padding: 0 10px;
}
#copapiston{
    position: fixed;
    top:28%;
    width: 40%;
    left: 30%;
    display: none;
}